
.intro-body{
  background-image: url(../img/rockformation.jpg)
}

body {
  color: black;
  background-color: white;
}

#projects {
  padding-top: 2%;
}
.projectsContainer {
  display: flex;
  flex-direction: row;
}
img {
  width: 100%;
  padding-bottom: 4%;
}
.eachProject {
  border: 1px solid white;
  padding: 2%;
  width: 33%
}
footer {
  font-size: 90%;
  color: white;
  background-color: black;
}
#skills, #contact {
  /* background-color: grey; */
}

#projects, #about {
  /* background-color: rgb(100,100,100); */
}

Section {
  padding-top: 4%;
  padding-bottom: 4%;
}

.skillsWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 40vh;
  width: 40vw;
  border: 1px solid yellow;
}

.skillsContainer {
  border: 1px solid pink;
  padding: 5%;
  /* margin: auto; */
  width: 25%;
  height: 33%;
}

.skillsBox {
  border: 1px solid blue;
  margin: auto;
  transition: all .2s ease-in-out;
  /* height: 100%; */
}

.skillsBox:hover {
  transform: scale(1.15);
}

.skillsIcon, .devicon-visualstudio-plain {
  border: 1px solid black;
  /* width: 25%; */
  /* height: 20em; */
  /* width: 100%; */
  /* width: 10em; */
}

.test {
  display: flex;
  flex-direction: row;
}

.contactBox {
  /* border: 1px solid pink; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 5%;
  width: 33%;
}

.iconBox {
  /* border: 1px solid black; */
  width: 3vw;
  margin-right: 2%;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fa-map, .fa-at, .fa-phone {
  /* border: 1px solid yellow; */
  color: black;
  vertical-align: middle;
  font-size: 250%;
}

.infoBox {
  /* border: 1px solid blue; */
  text-align: left;
  font-size: 125%;
}
